<div class="card rounded shadow-sm p-2">
    <div class="row">
      <div class="form-group col-md-6">
        <label>Pesquisar</label>
        <input class="form-control" [(ngModel)]="filtroLista" placeholder="Digite o placa">
      </div>
      <div class="form-group col-md-2">
        <span class="btn btn-success mt-4 ms-1" routerLink="/veiculos/detalhe">
          <i class="fa fa-plus-circle"></i>
          Inserir
        </span>
      </div>
    </div>
  </div>
  <table class="table table-secondary table-striped table-hover">
    <thead>
      <tr>
        <th>Ação</th>
        <th>Id</th>
        <th>Placa</th>
        <th>Tecnologia</th>
        <th>Ano de fabricação</th>
        <th>Cor</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Vinculo</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let veiculo of veiculosFiltrados">
        <td>
          <button title="Editar" style="width: 30px;" class="btn btn-sm btn-primary me-2" type="button" tooltip="Editar" (click)="detalheVeiculo(veiculo.id)">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
        </td>
        <td>{{ veiculo.id }}</td>
        <td>{{ veiculo.placa }}</td>
        <td>{{ veiculo.tecnologia.nome }}</td>
        <td>{{ veiculo.anoFabricacao }}</td>
        <td>{{ veiculo.cor.nome }}</td>
        <td>{{ veiculo.modeloVeiculo.marcaVeiculo.nome }}</td>
        <td>{{ veiculo.modeloVeiculo.nomeModelo }}</td>
        <td>{{ tipoVinculo(veiculo.tipoVinculo)}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr></tr>
    </tfoot>
  </table>
