<div class="card rounded shadow-sm p-2">
    <div class="row">
      <div class="form-group col-md-2">
        <label>CNPJ:</label>
        <input class="form-control" />
      </div>
      <div class="form-group col-md-4">
        <label>Razão social ou Nome fantasia</label>
        <input class="form-control" />
      </div>
      <div class="form-group col-md-2">
        <span class="btn btn-primary mt-4">
          <i class="fa fa-magnifying-glass"></i>
          Buscar
        </span>
        <span class="btn btn-success mt-4 ms-1" routerLink="/empresas/detalhe">
          <i class="fa fa-plus-circle"></i>
          Inserir
        </span>
      </div>
    </div>
  </div>
  <table class="table table-secondary table-striped table-hover">
    <thead>
      <tr>
        <th class="w-acao">Ação</th>
        <th class="w-id">Id</th>
        <th class="w-nome">Nome fantasia</th>
        <th class="w-cliente">Cliente</th>
        <th class="w-tipo">Tipo</th>
        <th class="w-cnpj">CNPJ</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let empresa of empresas">
        <td>
          <button class="btn btn-primary" type="button" tooltip="Editar" (click)="detalheEmpresa(empresa.id)">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
        </td>
        <td>{{ empresa.id }}</td>
        <td>{{ empresa.nomeFantasia }}</td>
        <td>{{ empresa.ehCliente }}</td>
        <td>{{ empresa.tipoEmpresa }}</td>
        <td>{{ empresa.cnpj }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr></tr>
    </tfoot>
  </table>